<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<h2>Thanking you <%= @user.name %> !!</h2>
 <p>This email was sent out to you, because you can use G9 group special services and can review on any property.</p><br>
 
 <p>Thanks.<br>Regards,<br>G9 Builders & Developers</p>