<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<h3>Welcome</h3>
<%= image_tag APP_CONFIG["HOST_URL"] + "/assets/logo.jpeg", :style => "height:100px;width:150px;" %><br>

<strong>We added new property at G9 group.</strong>

<p>short information regarding new property are :</p>

 <strong><%= @property.title %></strong>
 <p><strong>Location </strong><%= @property.location %></p>

 <strong>For more information please check it out below link</strong>
 <p>http://g9-builders.herokuapp.com</p>

 <p>Thanks.</p><br><p>Regards,<br>G9 Builders & Developers</p>