<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @comment.property.title %>
</p>
<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>
<p>
  <strong>By:</strong>
  <%= @comment.user.name %>
</p>
<%#= link_to 'Edit',  edit_property_comment_path(@property, @comment) %> |
<%#= link_to 'Back', property_comments_path(@property) %> -->