<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

<h3 class="text-center set-fonts">Our business is not to get ahead of others, but to get ahead of ourselves to break our own records to outstrip our yesterday by our today!!"</h3><hr>
<div class="row">
  <div class="col-md-4">
      <%= image_tag "header_home_img.jpg", :style => "width:90%;height:120%", class: "img-rounded" %>
  </div>
  <div class="col-md-8">
    <h4 class="set-fonts">When it comes to handle your most precious asset – your property – quietly and effectively, you can rely on G9 PROPERTY. Since its inception, the company has built a strong reputation in the real estate market. The mantra of its success is its commitment and conviction, transparency in business transactions, hassle-free procedures, clear-titled projects and above all its prime focus on quality. We have undertaken projects for some of the most successful builders/developers. We make it our business to understand your financial & property related requirements.</h4>
  </div>
</div><br>

<div class="row">
  <div class="col-md-8" style="margin-top:60px;">
    <h4 class="set-fonts">We strive to make your money work for you and manage your investment portfolio. Our property bank consists of properties for buying, selling, leasing and renting in various sectors ranging from residential to commercial, industrial, IT, institutional, land etc. With clients in every key economic sector, we have first-hand experience of managing the needs of our every customer/client – be it an individual or a organization.</h4>
  </div>

  <div class="col-md-4">
    <%= image_tag "about-us-search.jpg", class: "img-rounded" %>
  </div>
</div>
<hr>

<h4 class="text-center set-fonts">We, at G9 Buliders, believe in clean, ethical, transparent and professional means of working in all our deals – be it buying property at most competitive rates or selling it at best rates in the market! We provide you better places in India to live & work.</h4>