<div class="row" style="margin-top:30px;">
  <div class="col-lg-4 text-center">
    <img alt="Generic placeholder image" src="/assets/goldPlan.png" class="img-circle">
    <h2>Gold Plan</h2>
    <p class="set-fonts-1">You can take Gold Plan of <strong>rupees 500 only</strong>. and you can upload unlimited number of property and checkout existing property details for one year and know about special discount on property deal. </p>
    <p><a role="button" href="#" class="btn btn-default">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 text-center">
    <img alt="Generic placeholder image" src="/assets/silverPlan.png" class="img-circle">
    <h2>Silver Plan</h2>
    <p class="set-fonts-1">You can take Silver Plan of <strong>rupees 300 only</strong>. and you can upload unlimited number of property and checkout existing property details for 6 month and know about special discount on property deal.</p>
    <p><a role="button" href="#" class="btn btn-default">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 text-center">
    <img alt="Generic placeholder image" src="/assets/bronze.png" style="height:127px;;" class="img-circle">
    <h2>Bronze Plan</h2>
    <p class="set-fonts-1">You can take Bronze Plan of <strong>rupees 100 only</strong>. and you can upload unlimited number of property and checkout existing property details for 2 month and know about special discount on property deal.</p>
    <p><a role="button" href="#" class="btn btn-default">View details »</a></p>
  </div><!-- /.col-lg-4 -->
</div>